@use '@/style/variables' as *;

.jobScrap {
   text-align: right;
}

.feedback-section {
   padding: $padding-m;
   color: $text-soft;
   background-color: $background-darken;
   border-radius: $radius-m;
}
