@use '@/style/variables' as *;

.chat-message {
   margin-bottom: 0.8rem;
   display: flex;

   &.is-self {
      justify-content: flex-end;

      .message-container {
         .content {
            text-align: left;
         }

         .message-date {
            text-align: right;
         }
      }
   }
   
   .message-container {
      color: $text;
      font-size: 0.9rem;
      line-height: 1.3rem;
      background-color: $background-light;
      max-width: 90%;
      padding: $padding-s;
      border-radius: $radius-s;
      text-align: left;
      white-space: pre-line;
      box-shadow: 0 0 20px $black;

      .message-date {
         font-size: 0.75rem;
         margin-top: 0.3rem;
         color: $text-soft;
      }
   }
}
