@use '@/style/variables.scss' as *;

.Chat {
   position: fixed;
   background: $background;
   color: $text-contrast;
   border-radius: $radius-s;
   box-shadow: 0 0 80px $shadow;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   height: 80vh;
   width: 95%;
   bottom: 5vh;
   z-index: 1000;
   transform: all 2000ms ease-in-out;

   @media screen and (min-width: $screen-m) {
      position: relative;
      height: 70vh;
      width: 100%;
      bottom: auto;
   }

   &.closed {
      height: auto;
   
      @media screen and (min-width: $screen-m) {
         height: 65vh;
      }

      &.scrolled {
         width: 100%;
         margin: 0;
         border-radius: 0;
         bottom: 0;

         .ChatHeader {
            display: none;
         }
      }

      &.scrolled-end {
         bottom: 67px;
         width: 95%;

         .ChatHeader {
            display: flex;
         }
      }

      .history {
         display: none;

         @media screen and (min-width: $screen-m) {
            display: block;
         }
      }
   }

   .history {
      overflow-y: auto;
      flex: 1;
   }

   .button-wrap {
      width: 100%;
      padding: $padding-s;
   }
}