@use '@/style/variables.scss' as *;

.chat {
   background: $white;
   color: $text-contrast;
   width: 100%;
   padding: $padding-s;
   border-radius: $radius-s;
   box-shadow: 0 0 80px $shadow-screen-light;
   display: flex;
   flex-direction: column;
   height: 70vh;

   .history {
      padding: $padding-s $padding-s $padding-s 0;
      overflow-y: auto;
      flex: 1;
   }
}
