@use '@/style/variables.scss' as *;

.Chat {
   background: $white;
   color: $text-contrast;
   width: 100%;
   border-radius: $radius-s;
   box-shadow: 0 0 80px $shadow-screen-light;
   display: flex;
   flex-direction: column;
   height: 70vh;
   overflow: hidden;

   .history {
      overflow-y: auto;
      flex: 1;
   }
}
