@use '@/style/variables' as *;

.chat-form {
   display: flex;
   gap: 1rem;
   margin-bottom: 0;
   max-height: 50%;
   padding: $padding-s;

   .send-button {
      display: flex;
      align-items: flex-end;

      .icon-button {
         background-color: $primary;
         color: $text;
      }
   }
}
