@use '@/styles/variables' as *;

.Spinner {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;

   .spinner__circle {
      border: 2.5px solid $disabled;
      border-top: 2.5px solid $tertiary;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      animation: spin 1s linear infinite;
   }
}


@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}
