@use '../../style/variables.scss' as *;

.chat {
   background: $white;
   color: $text-contrast;
   width: 95%;
   padding: $padding-s;
   border-radius: $radius-s;
   box-shadow: 0 0 80px $shadow-screen-light;
   display: flex;
   flex-direction: column;
   height: 70vh;

   @media screen and (min-width: $screen-s) {
      max-width: $screen-s;
   }

   @media screen and (min-width: $screen-m) {
      max-width: $screen-m;
   }

   @media screen and (min-width: $screen-l) {
      max-width: $screen-l;
   }

   .history {
      padding: $padding-s $padding-s $padding-s 0;
      overflow-y: auto;
      flex: 1;
   }
}
