@use '@/style/variables' as *;

.WidgetHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.5rem;
   border-radius: $radius-m;
   padding: $padding-m;
   background-color: $background-dark;

   h2 {
      font-size: 1.2rem;
   }
}
