@use '@/style/variables' as *;

.ChatInput {
   text-align: left;
   outline: none;

   &.MuiTextField-root {
      padding-right: 0.5rem;
      overflow-y: auto;
   }

   .MuiFilledInput-root {
      border-radius: $radius-s;
      padding: 12px;
      color: $text;
      background-color: $background-dark;

      &:focus {
         border-bottom: 3px solid $tertiary;
      }
      
      &::before,
      &::after {
         border-radius: $radius-s;
      }
   }
}
