@use '@/style/variables' as *;

.cta-button {
   &.MuiButton-contained {
      background: $background-gradient;
      color: $text-contrast;
   }

   .MuiButton-loadingIndicator {
      color: $secondary;
   }
}
