@use '@/style/variables' as *;

.ModalBaseBackdrop {
   display: flex;
   align-items: center;
   justify-content: center;
}

.ModalBase {
   background-color: $background;
   width: 95%;
   min-width: 300px;
   max-height: 70vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   &.width-xs {
      max-width: $screen-xs;
   }

   &.width-s {
      max-width: $screen-s;
   }

   &.width-m {
      max-width: $screen-m;
   }

   &.width-l {
      max-width: $screen-l;
   }

   &.width-xl {
      max-width: $screen-xl;
   }

   .modalBaseHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $padding-xs $padding-xs $padding-xs $padding-m;
      background-color: $background-dark;

      span {
         display: inline-flex;
         align-items: center;
         gap: 0.5rem;
         color: $text-soft;
      }

      .modalBaseCloseButton {
         margin-left: auto;
         color: $text-soft;
      }
   }

   .modalBaseContent {
      overflow-y: auto;
   }
}
