@use '@/style/pdf/variables' as *;

.CVPDFTemplateContent {
   h1 {
      font-size: 1.8rem;
   }

   h2 {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
   }

   h3 {
      font-size: 1.1rem;
   }

   h4 {
      font-size: 1rem;
   }

   h5 {
      font-size: 0.95rem;
   }

   hr {
      margin: 0.5rem 0;
      border: none;
      height: 3px;
      background-color: $secondary;
   }

   ul {
      li {
         margin-bottom: 1rem;
         list-style: none;

         label {
            margin-right: 0.5rem;
         }
      }
   }

   p {
      font-size: 0.95rem;
   }

   a {
      text-decoration: underline;

      &:hover {
         color: $tertiary-dark;
      }
   }

   .markdown {
      h4 {
         font-size: 1rem;
      }

      h5 {
         font-size: 0.9rem;
      }

      p {
         font-size: 0.9rem;
         line-height: 1.4rem;
      }

      ul {
         li {
            font-size: 0.9rem;
            list-style: disc;
            margin-bottom: 0.5rem;
            line-height: 1.3rem;
         }
      }
   }

   section,
   header {
      padding-bottom: $padding-l;
   }

   section {
      padding: 10pt 0;
   }

   .chipsList {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0;
      margin-top: 1rem;

      li {
         background: $primary;
         color: $text-contrast;
         border-radius: $radius-xs;
         padding: 0.4rem 0.75rem;
         margin-bottom: 0;
         font-size: 0.85rem;
      }
   }
   
   .CVPDFHeader {
      padding-top: $padding-l;
      padding-bottom: $padding-xs;

      p {
         font-size: 1.1rem;
         font-weight: 500;
         margin-bottom: 0.15rem;
      }

      .headerInfo {
         margin-bottom: 1rem;

         h1 {
            text-transform: uppercase;
         }

         p {
            color: $tertiary-dark;
            font-weight: bold;
         }

         span {
            font-size: 0.95rem;
            margin-bottom: 2rem;
         }
      }

      .headerSummary {
         p {
            color: $text-soft;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
         }
      }

      .horizontalList {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;

         li {
            margin-right: 0.5rem;
            display: inline-flex;
            align-items: center;
            
            &:not(:last-child) {
               margin-right: 0.5rem;
            }
         }
      }
   }

   .CVPDFContact {
      padding-top: 0;

      ul {
         display: flex;
         flex-wrap: wrap;

         li {
            flex: 50%;
            display: flex;
            align-items: center;
            margin-bottom: 0.4rem;

            a {
               font-size: 0.85rem;
               color: $text-soft;
            }
         }
      }
   }

   .CVPDFSkills {
      background-color: $background-dark;

      h3 {
         font-size: 0.9rem;
         margin-bottom: 0.3rem;
      }

      .chipsList {
         margin-top: 0;
         margin-bottom: 1rem;
      }
   }
   
   .CVPDFExperiences {
      .experienceItem:not(:last-child) {
         border-bottom: 2px dotted $text-soft;
      }

      .experienceHeader {
         background-color: $background-dark;
         border-left: 3px solid $primary;

         h3, p {
            margin-bottom: 0.2rem;
         }

         h3 {
            font-size: 1.2rem;
         }

         p {
            font-size: 1rem;
            margin-bottom: 0.4rem;
         }

         a {
            font-size: 0.9rem;
         }

         .verticalAligned {
            display: flex;
            align-items: center;
            gap: 0.5rem;
         }

         .chipsList {
            li {
               background: $disabled;
               color: $text;
               font-size: 0.85rem;
            }
         }
      }

      .experienceDetails {
         h4 {
            margin-top: 0.5rem;
            margin-bottom: 0.25rem;
         }
      }
   }

   .CVPDFEducation {
      .educationList {
         margin-top: 1.5rem;

         .educationItem {
            padding: $padding-s;
            border-left: 3px solid $primary;
            border-radius: $radius-s;

            .fieldOfStudy {
               font-size: 1.05rem;
            }

            .description {
               font-size: 0.9rem;
            }
         }
      }
   }

   .CVPDFLanguages {
      .languageList {
         margin-top: 1.5rem;

         .languageItem {
            display: inline-flex;
            padding: $padding-s;
            border-left: 3px solid $primary;
            border-radius: $radius-s;
            margin-right: 1rem;
            flex-direction: column;
            gap: 0;

            .languageTitle {
               font-size: 1rem;
               font-weight: 600;
            }

            .languageProficiency {
               font-size: 0.9rem;
            }
         }
      }
   }
}
