header {
   margin-bottom: 1rem;

   .header-content {
      margin-bottom: 2rem;

      .title {
         font-size: 2.5rem;
         margin-bottom: 1rem;
      }
   }


   .button-wrap {
      margin: 1rem 0;
   }
}
