@use '@/style/variables' as *;

.ExperienceDetailsContent {
   h2 {
      margin-bottom: 2rem;
   }

   .field-wrap {
      width: 100%;
      display: flex;
      gap: 1rem;
      background-color: $background-dark;
      padding: $padding-m;
      border-radius: $radius-s;
      flex-wrap: wrap;

      &:not(:last-child) {
         margin-bottom: 1rem;
      }

      &.vertical {
         flex-direction: column;
      }

      label {
         flex: 1;
         font-weight: 600;
      }

      p {
         flex: 4;
         font-size: 1.1rem;
      }
   }

   .languageSet {
      margin-top: 1rem;
   }
}
