@use '@/style/variables' as *;

.SkillBadge,
a.SkillBadge {
   display: inline-block;
   background-color: $tertiary-light;
   color: $text-contrast;
   font-size: 0.9rem;
   font-weight: 500;
   text-decoration: none;

   &:hover {
      color: $text-contrast;
   }

   &.strong {
      background-color: $primary;
   }

   &.disabled {
      background-color: $disabled;
   }
}
