@use '@/style/variables.scss' as *;

$padding-mobile-divider: 1.3;

// Paddings
.padding-xs {
   padding: calc($padding-xs / $padding-mobile-divider);

   @media screen and (min-width: $screen-m) {
      padding: $padding-xs;
   }
}

.padding-s {
   padding: calc($padding-s / $padding-mobile-divider);

   @media screen and (min-width: $screen-m) {
      padding: $padding-s;
   }
}

.padding-m {
   padding: calc($padding-m / $padding-mobile-divider);

   @media screen and (min-width: $screen-m) {
      padding: $padding-m;
   }
}

.padding-l {
   padding: calc($padding-l / $padding-mobile-divider);

   @media screen and (min-width: $screen-m) {
      padding: $padding-l;
   }
}

.padding-xl {
   padding: calc($padding-xl / $padding-mobile-divider);

   @media screen and (min-width: $screen-m) {
      padding: $padding-xl;
   }
}

// Border Radius
.radius-xs {
   border-radius: $radius-xs;
}

.radius-s {
   border-radius: $radius-s;
}

.radius-m {
   border-radius: $radius-m;
}

.radius-l {
   border-radius: $radius-l;
}

.radius-xl {
   border-radius: $radius-xl;
}

// Shadows
.elevation-xs {
   box-shadow: 0 0 $elevation-xs #111;
}

.elevation-s {
   box-shadow: 0 0 $elevation-s #111;
}

.elevation-m {
   box-shadow: 0 0 $elevation-m #111;
}

.elevation-l {
   box-shadow: 0 0 $elevation-l #111;
}

.elevation-xl {
   box-shadow: 0 0 $elevation-xl #111;
}
