@use '@/style/variables.scss' as *;

// Paddings
.padding-xs {
   padding: $padding-xs;
}

.padding-s {
   padding: $padding-s;
}

.padding-m {
   padding: $padding-m;
}

.padding-l {
   padding: $padding-l;
}

.padding-xl {
   padding: $padding-xl;
}

// Border Radius
.radius-xs {
   border-radius: $radius-xs;
}

.radius-s {
   border-radius: $radius-s;
}

.radius-m {
   border-radius: $radius-m;
}

.radius-l {
   border-radius: $radius-l;
}

.radius-xl {
   border-radius: $radius-xl;
}

// Shadows
.elevation-xs {
   box-shadow: 0 0 $elevation-xs #111;
}

.elevation-s {
   box-shadow: 0 0 $elevation-s #111;
}

.elevation-m {
   box-shadow: 0 0 $elevation-m #111;
}

.elevation-l {
   box-shadow: 0 0 $elevation-l #111;
}

.elevation-xl {
   box-shadow: 0 0 $elevation-xl #111;
}
