@use '@/style/variables' as *;

.MuiPaper-root.MuiPopover-paper,
.MuiPaper-root.MuiPickerPopper-paper {
   background-color: $background;
   color: $text;
}

.MuiButtonBase-root.MuiTab-root {
   color: $text;

   &.Mui-selected {
      color: $tertiary-light;
      border-bottom: 2px solid $tertiary-light;
   }
}

.MuiButton-root.MuiButtonBase-root {
   &.MuiButton-loading {
      background-color: $grey;
   }
}
