@use "sass:color";

$saturation-level:90%;
$light-level: 10%;

$primary: #0FA3B1;
$secondary: #071E22;
$tertiary: #B0FE76;

$primary-light: color.adjust($primary, $saturation: $saturation-level, $lightness: $light-level);
$secondary-light: color.adjust($secondary, $saturation: $saturation-level, $lightness: $light-level);
$tertiary-light: color.adjust($tertiary, $saturation: $saturation-level, $lightness: $light-level);

$primary-dark: #12656D;
$secondary-dark: #050E10;
$tertiary-dark: #5DA626;

$success: $tertiary;

$text: #d7ecee;
$text-contrast: #16191a;
$text-soft: #7c8b8d;

$white: #d9dbdb;
$black: #222222;
$grey: #9e9e9e;

$page-background: radial-gradient($secondary, $secondary-dark);
$shadow-screen-light: #72796d;

$screen-s: 600px;
$screen-m: 1024px;
$screen-l: 1440px;

$padding-xs: 0.2rem;
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 1.5rem;

$radius-xs: 3px;
$radius-s: 5px;
$radius-m: 7px;
$radius-l: 10px;
$radius-xl: 13px;
