@use '@/style/variables' as *;

.BasicFooter {
   background-color: $background-dark;
   padding: 0.5rem;
   margin-top: auto;

   .company-info {
      color: $text;
      text-align: center;
   }
}
