@use '@/style/variables' as *;

.CVTile {
   display: flex;
   gap: 1rem;
   cursor: pointer;
   transition: all 100ms;
   border-bottom: 3px solid $primary;

   &:hover {
      background-color: $background-light;
   }

   .noCV {
      background-color: $background-dark;

      p {
         text-align: center;
      }
   }

   .cvIconWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background-dark;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;

      .cvIcon {
         font-size: 2.2rem;
      }
   }

   .cvDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
         font-size: 1.1rem;
      }

      p {
         font-size: 0.9rem;
         color: $text-soft;
      }
   }
}
