@use '@/style/variables' as *;

.OpportunityModal {
   z-index: 10000;

   .cvLinks {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;

      .button {
         flex: 1;
      }
   }
}
